<div class="page-home">
  <div class="img-background">
    <img src="HaloTeams.jpg" alt="" class="img-b" />

    <div class="nv">
      <app-navar class="nv"></app-navar>
    </div>

    <div class="principal-content">
      <div class="content">
        <h1><br />EQUIPOS SPARTANS</h1>
        <p>
          ESTAS ESCUADRAS DE SPARTANS ESTÁN LISTAPAS PARA EL DESPLIGUE EN TIERRA
          DESTERRADA. LOS EQUIPOS QUE JUEGAN EN ESTA CHAMPIONSHIP TIENEN
          TRAYECTORIA GRANDE EN OTROS JUEGOS COMPETITIVOS, FACINANTE LO QUE
          HACEN.
        </p>
      </div>
    </div>
  </div>

  <div class="img-content">
    <img src="Fondo.png" alt="a" class="img-bc" />

    <div class="content-left">
      <div class="logo-team">
        <div class="box-team">
          <img src="Sentinels.png" alt="" class="img-team" />
        </div>

        <div class="title">
          <h2>SENTINELS</h2>
          <hr />
        </div>
      </div>

      <div class="content-info">
        <div class="left-content">
          <img src="SEN1.jpeg" alt="" srcset="" />
        </div>

        <div class="right-content">
          <div class="content-text">
            <p>ES UN EQUIPO NORTEAMERICANO DEDICADO A GANAR GRANDES LIGAS:</p>
            <ul>
              <li>HALO CHAMPIOSNSHIP</li>
              <li>VALORANT CHAMPIONS</li>
              <li>COUNTER STRIKE</li>
              <li>LIGE OF LEGENNS</li>
            </ul>
            <p>GALERÍA</p>
          </div>

          <div class="galery">
            <img src="SEN2.jpeg" alt="" />
            <img src="SEN3.png" alt="" />
            <img src="SEN4.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="content-right">
      <div class="logo-teamR">
        <div class="title">
          <h2>CLOUD 9</h2>
          <hr />
        </div>
        <div class="box-team">
          <img src="cloud9.png" alt="" class="img-team" />
        </div>
      </div>

      <div class="content-info">
        <div class="right-contentR">
          <div class="content-text">
            <p>ES UN EQUIPO NORTEAMERICANO DEDICADO A GANAR GRANDES LIGAS:</p>
            <ul>
              <li>HALO CHAMPIOSNSHIP</li>
              <li>VALORANT CHAMPIONS</li>
              <li>COUNTER STRIKE</li>
              <li>LIGE OF LEGENNS</li>
            </ul>
            <p>GALERÍA</p>
          </div>

          <div class="galery">
            <img src="CLOUD2.jpeg" alt="" />
            <img src="CLOUD3.jpg" alt="" />
            <img src="CLUD4.jpg" alt="" />
          </div>
        </div>
        <div class="left-contentR">
          <img src="CLOUD1.jpg" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
