<div class="page-home">

  <div class="img-background">
    <img src="COMMUNITY-STAGE.png" alt="" class="img-b" />

    <div class="nv">
      <app-navar class="nv"></app-navar>
    </div>

    <div class="principal-content">
      <div class="content-left">
        <h1><br />THE <br />CHAMPIONSHIP</h1>
        <p>
          CADA AÑO SE DISPUTA LA CORONA DEL QUIPO MAS FUERTE Y PREPARADO.
          GRANDES BATALLAS COMO LAS QUE HA LUCHADO EL JEFE MAESTRO, TODO POR
          TENER EL HONOR DE SER COMO EL, POR LA HUMANIDAD.
        </p>
      </div>

      <div class="content-right">
        <img src="Halo_Championship_Series_icon_allmode.png" alt="" class="img-cR" />
        <h3>
          MASTER SERIES <br />
          LOS ÁGELES, CLIFORNIA
        </h3>
      </div>
    </div>
  </div>

  <div class="img-content">
    <img src="Fondo.png" alt="a" class="img-bc">

    <div class="content-top">
      <div class="left-cT">
        <br>
        <h2>TODO POR LA RECOMPENSA</h2>
        <hr>
        <P>DIECISEIS DE LOS MEJORES EN EL MUNDO</P>
        <img src="faze-clan-halo-1024x683.jpg" alt="" class="img-left-cT">
      </div>

      <div class="right-cT">

        <div class="box-team">
          <img src="Spacestation_Gaming_Logo.webp" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="OpTic_Gaming.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Shopify_Rebellion.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Sentinels.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Quadrant.png" alt="" class="img-team" width="70px">
        </div>

        <div class="box-team">
          <img src="into-the-breach.webp" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Dead_inside.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Native_Gaming.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Pure.png" alt="" class="img-team" width="40px">
        </div>

        <div class="box-team">
          <img src="Alpha_Esports.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="FaZe_Clan.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Complexity.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Ascending_Baseline_allmode.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Mindfreaklogo.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="Team_Lethal_Fox.png" alt="" class="img-team">
        </div>

        <div class="box-team">
          <img src="cloud9.png" alt="" class="img-team">
        </div>
      </div>
    </div>


    <div class="content-medium"></div>
    <div class="content-bottom"></div>

    <!-- <app-footer></app-footer> -->
  </div>
  
</div>
