.header {
  background: #020202f8;
  padding: 0 40px 0 40px;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}

#logo {
  height: 50px;
}

.btn-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.btn-border {
  border: 2px #fdfffc solid;
  padding: 4px;
}

.btn {
  display: flex;
  align-items: center;
  background-color: #606060;
  color: #ffffff;
  border: none;
  gap: 3px;
}

.img {
  height: 28px;
}

.btn:hover {
  background-color: #ffc011;
  transition: 0.6s;
  cursor: pointer;
}

.btn-border:hover {
  border: 2px #ffc011 solid;
  transition: 0.6s;
}
