<div class="page-home">
  <div class="nv">
    <app-navar class="nv"></app-navar>
  </div>

  <img src="marcador.png" alt="" class="img-b" />

  <div class="img-content">
    <img src="Fondo.png" alt="a" class="img-bc" />

    <div class="after-play">
      <div class="aP-left">
        <div class="title-aP">
          <h1>PRÓXIMA PARTIDA</h1>
          <img src="imagen_2024-09-21_125115677.png" alt="" />
        </div>

        <div class="aP-teams-content">
          <div class="aP-team-left">
            <div class="box-team">
              <img src="into-the-breach.webp" alt="" class="img-team" />
            </div>
            <h3>INTO THE BREACH</h3>
            <hr />
          </div>

          <div class="aP-team-medium">
            <img src="versus.png" alt="" />
          </div>

          <div class="aP-team-left">
            <div class="box-team">
              <img src="Team_Lethal_Fox.png" alt="" class="img-team" />
            </div>
            <h3>LETHAL FOX TEAM</h3>
            <hr />
          </div>
        </div>
      </div>

      <div class="aP-right">
        <div class="message">
          <div class="content-msg">
            EN DIRECTO
            <img src="LIVE.png" alt="" srcset="" />
          </div>
        </div>

        <div class="aP-btn-medium">
          <div class="content-btn-link">
            <button class="btn-link">
              <img src="xbox.png" alt="" srcset="" class="img-btn1" />
              CANAL OFICIAL
            </button>
          </div>
        </div>

        <div class="ap-btn-bottom">
          <div class="content-btn-link">
            <button class="btn-link">
              <img src="conexion.png" alt="" srcset="" class="img-btn" />
              HALO CHAMPIOSNSHIP
            </button>
          </div>

          <div class="content-btn-link">
            <button class="btn-link">
              <img src="youtube.png" alt="" srcset="" class="img-btn" />
              HALO CHAMPIOSNSHIP
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="before-play">
      <div class="bP-left">
        <div class="title-aP">
          <h1>PARTIDA ANTERIOR</h1>
          <img src="imagen_2024-09-21_125115677.png" alt="" />
        </div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/-9SfC6jDm34?si=C2vCRS3nIRzDBzLE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <div class="bP-rigth">
        <div class="bP-R-top">
          <div class="bP-team-left">
            <div class="box-team">
              <img src="FaZe_Clan.png" alt="" class="img-team" />
            </div>
            <h3>FAZE CLAN</h3>
            <hr />
          </div>

          <div class="bP-team-medium"><h1>2</h1></div>
          <div class="bP-team-medium"></div>
          <div class="bP-team-medium"><h1>1</h1></div>

          <div class="bP-team-left">
            <div class="box-team">
              <img src="OpTic_Gaming.png" alt="" class="img-team" />
            </div>
            <h3>OPTIC GAMING</h3>
            <hr />
          </div>
        </div>

        <div class="bP-R-botton">
          <p>PARTIDA</p>
          <div class="btn-group">
            <button class="btn-bP">1</button>
            <button class="btn-bP">2</button>
            <button class="btn-bP">3</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
